[2022-04-25 17:10] Graur opened #2 "assert-that object needed"
We need to create `assert-that.eo` object in `org.eolang.hamcrest.` package. Which will be the main object for our hamcrest library.

Usage:
[code]

[2022-04-25 17:12] Graur opened #3 "Core matchers implementation"
We need to implement several main matchers, according to description in [README.md](https://github.com/Graur/eo-hamcrest#core) file.

[2022-04-28 10:29] Graur opened #5 "Logical matchers implementation"
We need to implement several main matchers, according to description in [README.md](https://github.com/Graur/eo-hamcrest#logical) file.

[2022-04-28 10:31] Graur opened #6 "Collections matchers implementation"
We need to implement several main matchers, according to description in [README.md](https://github.com/Graur/eo-hamcrest#collections) file.

[2022-04-28 10:31] Graur opened #7 "Number matchers implementation"
We need to implement several main matchers, according to description in [README.md](https://github.com/Graur/eo-hamcrest#number) file.

[2022-04-28 10:32] Graur opened #8 "Text matchers implementation"
We need to implement several main matchers, according to description in [README.md](https://github.com/Graur/eo-hamcrest#text) file.

[2022-05-06 12:05] Graur opened #9 "Logical and Objects matchers implementation"
We need to implement several main matchers, according to description in [README.md](https://github.com/Graur/eo-hamcrest#logical) file.

[2022-05-06 12:19] Graur opened #10 "Change the behavior of the EO junit test to provide return text instead of false value"
When junit test return string description (instead of  false) we expect a readable message but got `cannot cast java.lang.String to java.lang.Boolean`, e.g.:

[code]

Expected console output message is something like:
[code]

[2022-05-06 13:33] Graur commented on #5
merged with objects matchers

[2022-05-06 13:33] Graur commented on #5
merged with objects matchers

[2022-05-06 13:34] Graur commented on #9
and implement: `.all-of`, `.any-of`, `.not`

[2022-05-11 06:24] Graur commented on #9
#11

[2022-05-11 06:32] Graur opened #12 "create readable description of the failed test"

[2022-05-13 13:06] #2 closed

[2022-05-14 16:24] Graur commented on #9
We don't need `.or` and `.and` objects . We can use `.all-of` or `.any-of` instead

[2022-05-15 13:01] Graur opened #13 "`all-of` and `any-of` didn't work properly"
When:
[code]

an error occuried: `You can't overwrite X`

associated with: https://github.com/objectionary/eo/issues/623

[2022-05-16 06:47] yegor256 commented on #13
@Graur I suggest you try to make your code snippet simpler, so that it's possible to reproduce it by the person who will fix the bug. Now it's not possible, since `org.eolang.hamcrest` is not even released. See https://www.yegor256.com/2022/03/29/bugs-occam-razor.html

[2022-05-16 07:27] Graur commented on #13
@yegor256 Thank you for your comment! I just wanted to relate my issue to EO's issue and show that I'm very interested in solving it. Maybe I choose the wrong way to do that.

[2022-05-16 12:10] #9 closed

[2022-05-16 14:53] #7 closed

[2022-05-16 18:12] Graur commented on #3
done

[2022-05-16 18:12] #3 closed

[2022-05-16 18:14] Graur commented on #12
already done

[2022-05-16 18:14] #12 closed

[2022-05-17 08:24] yegor256 opened #18 "release first version to Maven Central"

[2022-05-17 08:27] yegor256 commented on #18
@rultor release, tag is `0.1.0`

[2022-05-17 08:28] rultor commented on #18
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25879-1128573498)

[2022-05-17 08:30] rultor commented on #18
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25879-1128573498) (spent 2min)

[code]

[2022-05-17 09:32] Graur commented on #18
@rultor release, tag is 0.1.0

[2022-05-17 09:33] rultor commented on #18
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25879-1128641885)

[2022-05-17 09:33] rultor commented on #18
@graur @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25879-1128641885) (spent 25s)

[code]

[2022-05-17 09:40] Graur commented on #18
@rultor release, tag is 0.1.0

[2022-05-17 09:41] rultor commented on #18
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25879-1128651129)

[2022-05-17 09:42] rultor commented on #18
@graur @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25879-1128651129) (spent 25s)

[code]

[2022-05-17 09:45] rultor commented on #18
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25879-1128654903)

[2022-05-17 09:47] rultor commented on #18
@graur @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25879-1128654903) (spent 2min)

[code]

[2022-05-17 13:48] Graur commented on #18
@rultor release, tag is `0.1.0`

[2022-05-17 13:49] rultor commented on #18
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25879-1128895276)

[2022-05-17 13:57] rultor commented on #18
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/25879-1128895276) (took me 8min)

[2022-05-18 09:29] #18 closed

[2022-05-18 09:46] yegor256 opened #23 "place objectionary.lst into gh-pages on every release"

[2022-05-18 09:47] Graur commented on #23
@rultor release, tag is `0.1.1`

[2022-05-18 09:48] rultor commented on #23
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25886-1129802273)

[2022-05-18 09:56] rultor commented on #23
@graur @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25886-1129802273) (spent 8min)

[code]

[2022-05-18 10:00] Graur commented on #23
@rultor merge

[2022-05-18 10:08] Graur commented on #23
@rultor release, tag is `0.1.1`

[2022-05-18 10:09] rultor commented on #23
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25886-1129822867)

[2022-05-18 10:16] rultor commented on #23
@graur @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25886-1129822867) (spent 7min)

[code]

[2022-05-18 11:50] Graur commented on #23
@rultor release, tag is 0.1.1

[2022-05-18 11:51] rultor commented on #23
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25886-1129911518)

[2022-05-18 11:57] rultor commented on #23
@graur @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25886-1129911518) (spent 7min)

[code]

[2022-05-18 12:14] Graur commented on #23
@rultor release, tag is `0.1.1`

[2022-05-18 12:15] rultor commented on #23
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25886-1129931993)

[2022-05-18 12:22] rultor commented on #23
@graur @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25886-1129931993) (spent 7min)

[code]

[2022-05-18 13:44] rultor commented on #23
@graur @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25886-1130029128) (spent 7min)

[code]

[2022-05-18 14:29] Graur commented on #23
@rultor release, tag is `0.1.2`

[2022-05-18 14:37] rultor commented on #23
@graur @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25886-1130092257) (spent 7min)

[code]

[2022-05-18 15:02] rultor commented on #23
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25886-1130129314)

[2022-05-18 15:55] rultor commented on #23
@graur @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25886-1130189841) (spent 7min)

[code]

[2022-05-19 08:38] Graur commented on #23
@rultor release, tag is `0.1.5`

[2022-05-19 08:38] rultor commented on #23
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25886-1131407625)

[2022-05-19 08:45] rultor commented on #23
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/25886-1131407625) (took me 7min)

[2022-05-19 10:52] Graur opened #26 "fix pdd rules"

[2022-05-19 10:55] Graur opened #28 "remove all todos for objectionary merge"

[2022-05-19 10:58] #23 closed

[2022-05-19 11:03] #28 closed

[2022-05-22 12:05] #26 closed

[2022-05-23 08:36] Graur opened #31 "change the description in README.md according to current functionality"
We need to fix description in first block. Also we need to add examples in /examples folder. And fix badges

[2022-05-23 08:37] Graur opened #32 "mvn run failed"
[code]

[2022-05-23 09:03] #32 closed

[2022-05-23 09:04] #31 closed

[2022-05-23 09:25] Graur commented on #13
done https://github.com/objectionary/eo/pull/659

[2022-05-23 09:26] Graur commented on #10
done by https://github.com/objectionary/eo/pull/659

[2022-05-23 09:26] #10 closed

[2022-05-24 10:11] Graur commented on #8
I can see two ways of implementing `.equal-to-ignoring-case`:

1. Make comparison by regex. E.g.: `^somestring$/i`. But I need to add to EO `regex` object `[s] > from-string` to make it possible to concatenate ^,$,/i with the given string.
2. to do it in Java way. Like in `String.equalsIgnoreCase()`: compare all chars as bytes using LATIN1 and UTF16 encodings

@yegor256 How do you think, what is t

[2022-05-24 13:52] Graur opened #37 "change the description of arrays matchers"

[2022-05-24 15:03] yegor256 commented on #8
@Graur I think we should create `eo-strings` package for EO and move reg exps there and all string manipulations. Then, you will be to use it in this package.

[2022-05-25 10:45] yegor256 commented on #8
@Graur sure, it's a good idea. we can implement all necessary "matchers" using Java, while we can't do this in EO. Later, when eo-strings is release, we'll delete Java code.

[2022-05-25 11:33] Graur opened #40 "`array-each` object didn't work with varargs as a parameter"
This code didn't work
[code]

[2022-05-25 11:36] Graur opened #41 "add test to check failed output message"
We need more test to check how failed messages are look like

e.g.

[code]

[2022-05-25 11:50] Graur opened #43 "pdd rules failed with exception"
[code]

[2022-05-25 11:51] #6 closed

[2022-05-25 12:52] #37 closed

[2022-05-27 13:55] Graur opened #46 "release 0.1.6"

[2022-05-27 13:56] Graur commented on #46
@rultor release, tag is `0.1.6`

[2022-05-27 13:57] rultor commented on #46
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25939-1139644227)

[2022-05-27 14:06] rultor commented on #46
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/25939-1139644227) (took me 9min)

[2022-05-27 14:06] #46 closed

[2022-06-05 14:20] yegor256 opened #47 "incompatibility with 0.23.6"
Current version of eo-hamcrest is not compatible with EO 0.23.6, because it uses `char` object, while it was removed in the latest EO.

[2022-06-05 14:20] yegor256 commented on #47
@Graur can you please fix and release a new version of eo-hamcrest?

[2022-06-05 14:31] yegor256 opened #48 "+home and +version metas in all files"
Let's add `+home` and `+version` metas in all files, as it's done, for example, here: https://github.com/objectionary/eo/blob/master/eo-runtime/src/main/eo/org/eolang/bool.eo#L24-L25

[2022-06-05 14:42] Graur commented on #47
@yegor256 Sure, I'll do it, thanks!

[2022-06-05 15:32] Graur commented on #47
@rultor release, tag is `0.2.0`

[2022-06-05 15:34] rultor commented on #47
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25978-1146834891)

[2022-06-05 15:41] rultor commented on #47
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/25978-1146834891) (took me 8min)

[2022-06-06 11:30] Graur commented on #48
@yegor256 please close the ticket if you don’t have any further questions.

[2022-06-06 11:30] Graur commented on #47
@yegor256 please close the ticket if you don’t have any further questions

[2022-06-06 11:36] yegor256 commented on #48
@Graur thanks!

[2022-06-06 11:36] #48 closed

[2022-06-07 07:56] yegor256 opened #52 "package-info.java is missing"
We should add `package-info.java` to `src/main/java/org/eolang/hamcrest` directory and release a new version of the library. Without this file, EO runtime can't detect `org.eolang.hamcrest` as a package. It thinks it's a class.

[2022-06-07 07:57] Graur commented on #52
@yegor256 I'll do it, thanks!

[2022-06-07 09:14] rultor commented on #52
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/25993-1148400263) (took me 8min)

[2022-06-07 11:52] yegor256 commented on #52
@Graur thanks!

[2022-06-07 11:52] #52 closed

[2022-06-08 09:57] yegor256 opened #54 "new interface of "memory""
Since 0.23.7 the way we work with `memory` has changed. Now, we should do it like this:

[code]

We should update the version of EO in this lib and release again.

[2022-06-08 13:20] Graur commented on #54
@rultor release, tag is `0.2.2`

[2022-06-08 13:30] Graur commented on #54
@rultor release, tag is `0.2.2`

[2022-06-08 13:31] rultor commented on #54
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26000-1149919687)

[2022-06-08 13:39] rultor commented on #54
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/26000-1149919687) (took me 8min)

[2022-06-08 13:40] Graur commented on #54
@rultor release, tag is `0.2.3`

[2022-06-08 13:42] rultor commented on #54
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26000-1149931011)

[2022-06-08 13:51] rultor commented on #54
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/26000-1149931011) (took me 9min)

[2022-06-08 14:21] Graur commented on #54
@yegor256 What would be this additional parameter `0` in memory? Why enclosure?

[2022-06-10 06:39] Graur commented on #54
fixed

[2022-06-10 06:39] #54 closed

[2022-06-12 02:00] Masynchin opened #58 "Can it use decorator?"
Can this code use decorator?

https://github.com/objectionary/eo-hamcrest/blob/f8bb8406856db15ee8f677cd770cf1b33a3eaa79/src/main/eo/org/eolang/hamcrest/assert-that.eo#L221-L234

I am not an expert in EO, but I assume that it can be rewrite as:

[code]

Let me know if I am wrong. If not, I can submit appropriate PR.

[2022-06-12 13:42] Graur commented on #58
@Masynchin Yes, indeed, you are absolutely right. Thanks for noticing. You are welcome to submit a PR.

[2022-06-12 23:30] #58 closed

[2022-06-12 23:30] 0pdd opened #60 "assert-that.eo:253-255: Here we got an object printed..."
The puzzle `17-30c88f18` from #17 has to be resolved:

https://github.com/objectionary/eo-hamcrest/blob/7309fc02dfe53e548dba91e083d62662047a9170/src/main/eo/org/eolang/hamcrest/assert-that.eo#L253-L255

The puzzle was created by Graur Andrew on 12-Jun-22.

Estimate: 45 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2022-06-12 23:30] 0pdd commented on #60
@graur please pay attention to this new issue.

[2022-06-12 23:30] 0pdd commented on #60
For some reason I wasn't able to add GitHub labels `` to this issue (required=`pdd`, `bug`; existing=`bug`, `core`, `documentation`, `duplicate`, `enhancement`, `eo enhancement`, `external bug`, `good first issue`, `help wanted`, `invalid`, `pdd`, `question`, `wontfix`). Please, [submit a ticket](https://github.com/yegor256/0pdd/issues/new) to us with the text you see below:

[code]

[2022-06-12 23:30] 0pdd opened #61 "assert-that.eo:281-284: This string formatting doesn't..."
The puzzle `37-c8e2717e` from #37 has to be resolved:

https://github.com/objectionary/eo-hamcrest/blob/7309fc02dfe53e548dba91e083d62662047a9170/src/main/eo/org/eolang/hamcrest/assert-that.eo#L281-L284

The puzzle was created by Graur Andrew on 12-Jun-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2022-06-12 23:30] 0pdd commented on #61
@graur please pay attention to this new issue.

[2022-06-12 23:30] 0pdd commented on #61
For some reason I wasn't able to add GitHub labels `` to this issue (required=`pdd`, `bug`; existing=`bug`, `core`, `documentation`, `duplicate`, `enhancement`, `eo enhancement`, `external bug`, `good first issue`, `help wanted`, `invalid`, `pdd`, `question`, `wontfix`). Please, [submit a ticket](https://github.com/yegor256/0pdd/issues/new) to us with the text you see below:

[code]

[2022-06-12 23:30] 0pdd commented on #37
@Graur the puzzle [#61](https://github.com/objectionary/eo-hamcrest/issues/61) is still not solved.

[2022-06-12 23:34] Graur commented on #58
@Masynchin Thanks!

[2022-06-14 06:45] Graur commented on #43
fixed

[2022-06-14 06:45] #43 closed

[2022-06-18 03:30] yegor256 opened #62 "0.23.11"
I had to remove eo-hamcrest from objectionary/home, since it's not compatible with 0.23.11. Please, fix the library, release it, and submit it to objectionary in a pull request.

[2022-06-18 09:50] Graur commented on #62
@rultor release, tag is `0.2.4`

[2022-06-18 09:51] rultor commented on #62
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26047-1159413130)

[2022-06-18 09:59] rultor commented on #62
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/26047-1159413130) (took me 8min)

[2022-06-26 04:51] yegor256 opened #64 "eo 0.23.15"
Version 0.23.15 has been release to Objectionary. I had to remove eo-hamcrest, since it didn't compile. Please, release a new version and submit a PR to Objectionary

[2022-06-26 21:06] Graur commented on #64
@rultor release, tag is `0.2.5`

[2022-06-26 21:07] rultor commented on #64
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26103-1166645487)

[2022-06-26 21:14] rultor commented on #64
@graur @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26103-1166645487) (spent 7min)

[code]

[2022-06-26 21:18] Graur commented on #64
@rultor release, tag is `0.2.5`

[2022-06-26 21:18] rultor commented on #64
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26103-1166648142)

[2022-06-26 21:25] rultor commented on #64
@graur @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26103-1166648142) (spent 7min)

[code]

[2022-06-27 06:17] Graur commented on #64
@rultor release, tag is `0.2.5`

[2022-06-27 06:18] rultor commented on #64
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26103-1166920942)

[2022-06-27 06:25] rultor commented on #64
@graur @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26103-1166920942) (spent 7min)

[code]

[2022-06-27 07:47] Graur commented on #64
@rultor release, tag is `0.2.5`

[2022-06-27 07:48] rultor commented on #64
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26103-1167003358)

[2022-06-27 07:57] rultor commented on #64
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/26103-1167003358) (took me 8min)

[2022-06-27 09:15] Graur commented on #64
@yegor256 please close the ticket if you don’t have any further questions.

[2022-07-05 12:50] Graur opened #69 "Hamcrest falls into stack overflow when missing attribute is addressed"
Moved from [here](https://github.com/objectionary/eo/issues/820).

Test below test fails with stack overflow:
[code]
[code]
[code]
Expected behaviour: something like `Can't get(), attribute "equals-to" is absent among other attrs (ρ, minus, σ, lt, eq, gt, as-hash, plus, div, neg, times, Δ, as-bytes, gte, lte) and φ is absent`

[2022-07-05 18:39] 0pdd commented on #37
@Graur the puzzle [#unknown]() is still not solved.

[2022-07-07 06:44] Graur opened #71 "`equal-to` object have to be an atom since `0.23.17`"
Since we got rid of object `array.eq` from `eo-runtime` we need to figure out how to compare arrays. And add some type checking.
Maybe `equal-to` could be an atom?

[2022-07-07 06:45] Graur commented on #71
@yegor256 What do you think?

[2022-07-07 07:26] Graur commented on #64
I believe we can close it, since new version was released.

[2022-07-07 07:26] #64 closed

[2022-07-08 20:55] Graur opened #72 "EO up to `0.23.17`"
We need to up `eo` version and fix bugs.

[2022-07-09 06:48] mximp opened #74 "Hamcrest tries to access missing attribute `array.is-empty`"
`is-empty` attributes has been recently moved to `collections.list` object.
However the lib still tries to use it in array:

[code]

`assert-that` object needs to be updated.

[2022-07-09 07:57] Graur commented on #74
@mximp Indeed, thanks!

[2022-07-10 03:54] yegor256 commented on #72
@Graur version 0.23.17 released to objectionary

[2022-07-10 03:56] Graur commented on #72
@rultor release, tag is `0.2.6`

[2022-07-10 03:56] yegor256 commented on #71
@Graur I think `equal-to` should just use `.eq` of the provided object. In case of `array` it will just crash.

[2022-07-10 03:57] Graur commented on #72
@yegor256 Thanks!

[2022-07-10 03:57] rultor commented on #72
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26187-1179650563)

[2022-07-10 04:01] Graur commented on #71
@yegor256 Thanks!

[2022-07-10 04:02] #71 closed

[2022-07-10 04:05] rultor commented on #72
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/26187-1179650563) (took me 8min)

[2022-07-10 04:06] Graur commented on #72
@yegor256 please, help me to add this new version to objectionary/home.

[2022-07-10 04:21] yegor256 commented on #72
@Graur done

[2022-07-10 04:24] Graur commented on #72
@yegor256 Thanks!

[2022-07-17 18:47] #72 closed

[2022-07-17 18:48] Graur commented on #74
@mximp I think we can close this issue

[2022-07-18 06:56] #74 closed

[2022-07-18 07:04] mximp opened #76 "Sort metas according to natural order"
Metas must be sorted alphabetically according to EO policy

[2022-07-18 07:04] mximp commented on #76
Budget - 30 minutes.

[2022-07-18 07:05] mximp commented on #76
@kerelape please have a look

[2022-07-18 07:47] 0pdd opened #78 "assert-that.eo:256-258: Here we got an object printed..."
The puzzle `3-30c88f18` from #3 has to be resolved:

https://github.com/objectionary/eo-hamcrest/blob/f4ffbf4c557f941202434277537564b637a0da4d/src/main/eo/org/eolang/hamcrest/assert-that.eo#L256-L258

The puzzle was created by @Graur on 18-Jul-22.

Estimate: 45 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2022-07-18 07:47] 0pdd commented on #78
I can't create GITHUB labels ``. Most likely I don't have necessary permissions to `objectionary/eo-hamcrest` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/objectionary/eo-hamcrest/settings/collaboration):

[code]

[2022-07-18 07:56] #60 closed

[2022-07-18 07:58] Graur commented on #76
@rultor release, tag is `0.2.7`

[2022-07-18 07:58] rultor commented on #76
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26256-1186885468)

[2022-07-18 08:07] rultor commented on #76
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/26256-1186885468) (took me 8min)

[2022-07-18 08:54] Graur commented on #76
@rultor release, tag is `0.2.8`

[2022-07-18 08:56] rultor commented on #76
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26256-1186938953)

[2022-07-18 09:07] rultor commented on #76
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/26256-1186938953) (took me 11min)

[2022-07-20 14:06] EugeneDar opened #80 "Freeze when comparing different strings"
[code]
Should return FALSE when comparing different strings, but instead it freezes.

[2022-07-20 14:07] EugeneDar commented on #80
@Graur please check.

[2022-07-25 14:56] mximp opened #83 "Hamcrest tries to access missing attribute in `list.is-empty`"
The following error occurs when matching fails:
[code]

[2022-07-25 15:11] rultor commented on #83
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26325-1194179351)

[2022-07-25 15:21] rultor commented on #83
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/26325-1194179351) (took me 9min)

[2022-07-25 15:22] Graur commented on #83
@mximp Thanks!

[2022-07-26 06:37] Graur opened #86 "EO-hamcrest release 0.2.10"

[2022-07-26 06:42] Graur commented on #86
@rultor release, tag is `0.2.10`

[2022-07-26 06:42] rultor commented on #86
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26334-1195070876)

[2022-07-26 06:52] rultor commented on #86
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/26334-1195070876) (took me 9min)

[2022-07-26 09:32] #86 closed

[2022-07-29 04:55] yegor256 opened #87 "the build fails on Windows"
See GitHub Actions. It happens in some other EO libs. Maybe you can fix it.

[2022-07-29 04:58] yegor256 opened #88 "let's add us to the main list"
Here: https://github.com/hamcrest/hamcrest.github.com

Let's submit a pull request there. Maybe they will accept (even though Kotlin is waiting since 2016 :)

[2022-07-29 13:31] Graur commented on #87
@yegor256 Can you help me with a solution? I thought that `mvn.yaml` was incorrect, but now it is and this issue is still here.

[2022-07-29 13:45] yegor256 commented on #87
@Graur I believe the problem is related to the name of one file, which contains the "phi" symbol. On Windows it's not treated right, most probably because of wrong encoding. Maybe this will help: https://stackoverflow.com/a/388500/187141

[2022-08-01 11:06] #76 closed

[2022-08-03 12:26] Graur commented on #87
@yegor256 Could you give me some advice on reproducing the problem in the `qulice-checkstyle` dependency? I think I have a solution to the current problem, but I can't figure out how to reproduce it. I tried to create a test that breaks a build on a colleague's computer with Windows, but it didn't work out.

[2022-08-03 12:30] yegor256 commented on #87
@Graur you an just create another integration test for qulice, in its `qulice-maven-plugin/src/it` directory, with a Unicode file name. I'm sure, it will break.

[2022-08-15 14:41] Graur commented on #87
@yegor256 please close the ticket if you don’t have any further questions

[2022-08-15 15:29] yegor256 commented on #87
@Graur thanks!

[2022-08-15 15:29] #87 closed

[2022-08-16 02:56] andreoss opened #94 "Better way to output arrays"
arrays are converted to `String` by `.toString()` method, which renders them unreadable

Example:
[code]

Proposal: use `Arrays.toString()` instead

[2022-08-16 08:53] Graur commented on #94
I think it is duplicate of: https://github.com/objectionary/eo-hamcrest/issues/36

[2022-08-16 19:11] andreoss commented on #94
@Graur you are right

[2022-08-16 19:11] #94 closed

[2022-08-25 11:51] Graur commented on #80
@EugeneDar I added this test here: https://github.com/objectionary/eo-hamcrest/blob/master/src/test/eo/org/eolang/hamcrest/not-tests.eo#L68-L74
And it passed. I think we can close this issue

[2022-08-25 11:57] EugeneDar commented on #80
@Graur thank you

[2022-08-25 11:57] #80 closed

[2022-09-12 15:26] yegor256 opened #98 "5 not equals to 5"
This is my code:

[code]

I'm getting:

[code]

This is a pretty weird error message. How come 5 is not equal to 5?

[2022-09-12 15:54] Graur commented on #98
@yegor256 Indeed, it's a bug. I will check it soon, thanks!

[2022-09-13 09:15] #98 closed

[2022-09-14 08:22] #41 closed

[2022-09-14 08:22] 0pdd opened #101 "anything-failed-output.eo:28-31: To add several tests for..."
The puzzle `41-cc70864f` from #41 has to be resolved:

https://github.com/objectionary/eo-hamcrest/blob/b27a1fb3a4550ea5dc1880f988a9d4ffe0f977e6/src/test/eo/org/eolang/hamcrest/failed-output/anything-failed-output.eo#L28-L31

The puzzle was created by @Graur on 14-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wil

[2022-09-14 08:22] 0pdd commented on #101
@graur please pay attention to this new issue.

[2022-09-14 08:22] 0pdd opened #102 "any-of-failed-output.eo:28-31: To add several tests for..."
The puzzle `41-e26c967d` from #41 has to be resolved:

https://github.com/objectionary/eo-hamcrest/blob/b27a1fb3a4550ea5dc1880f988a9d4ffe0f977e6/src/test/eo/org/eolang/hamcrest/failed-output/any-of-failed-output.eo#L28-L31

The puzzle was created by @Graur on 14-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2022-09-14 08:22] 0pdd commented on #102
@graur please pay attention to this new issue.

[2022-09-14 08:23] 0pdd opened #103 "is-failed-output.eo:28-31: To add several tests for..."
The puzzle `41-fa7f45be` from #41 has to be resolved:

https://github.com/objectionary/eo-hamcrest/blob/b27a1fb3a4550ea5dc1880f988a9d4ffe0f977e6/src/test/eo/org/eolang/hamcrest/failed-output/is-failed-output.eo#L28-L31

The puzzle was created by @Graur on 14-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2022-09-14 08:23] 0pdd commented on #103
@graur please pay attention to this new issue.

[2022-09-14 08:23] 0pdd opened #105 "close-to-failed-output.eo:28-31: To add several tests for..."
The puzzle `41-17873f95` from #41 has to be resolved:

https://github.com/objectionary/eo-hamcrest/blob/b27a1fb3a4550ea5dc1880f988a9d4ffe0f977e6/src/test/eo/org/eolang/hamcrest/failed-output/close-to-failed-output.eo#L28-L31

The puzzle was created by graur on 14-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2022-09-14 08:23] 0pdd commented on #105
@graur please pay attention to this new issue.

[2022-09-14 08:23] 0pdd opened #106 "less-than-failed-output.eo:28-31: To add several tests..."
The puzzle `41-0f42b54c` from #41 has to be resolved:

https://github.com/objectionary/eo-hamcrest/blob/b27a1fb3a4550ea5dc1880f988a9d4ffe0f977e6/src/test/eo/org/eolang/hamcrest/failed-output/less-than-failed-output.eo#L28-L31

The puzzle was created by graur on 14-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wil

[2022-09-14 08:23] 0pdd opened #107 "described-as-failed-output.eo:28-31: To add several tests..."
The puzzle `41-3b9d114c` from #41 has to be resolved:

https://github.com/objectionary/eo-hamcrest/blob/b27a1fb3a4550ea5dc1880f988a9d4ffe0f977e6/src/test/eo/org/eolang/hamcrest/failed-output/described-as-failed-output.eo#L28-L31

The puzzle was created by graur on 14-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2022-09-14 08:23] 0pdd commented on #107
@graur please pay attention to this new issue.

[2022-09-14 08:24] 0pdd opened #108 "all-of-failed-output.eo:28-31: To add several tests for..."
The puzzle `41-d652169e` from #41 has to be resolved:

https://github.com/objectionary/eo-hamcrest/blob//src/test/eo/org/eolang/hamcrest/failed-output/all-of-failed-output.eo#L28-L31

The puzzle was created by graur on 14-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and

[2022-09-14 11:24] Graur commented on #106
@includealex please, take this task

[2022-09-15 11:09] #106 closed

[2022-09-15 11:09] 0pdd commented on #106
The puzzle `41-0f42b54c` has disappeared from the source code, that's why I closed this issue. //cc @graur

[2022-09-15 11:10] 0pdd commented on #41
@Graur 7 puzzles [#101](https://github.com/objectionary/eo-hamcrest/issues/101), [#102](https://github.com/objectionary/eo-hamcrest/issues/102), [#103](https://github.com/objectionary/eo-hamcrest/issues/103), [#104](https://github.com/objectionary/eo-hamcrest/issues/104), [#105](https://github.com/objectionary/eo-hamcrest/issues/105), [#107](https://github.com/objectionary/eo-hamcrest/issues/107),

[2022-09-15 13:15] EugeneDar opened #110 "Bug when comparing a nested array"
This test crushes because `array` doesn't have method `eq`.
[code]

[2022-09-15 13:15] EugeneDar commented on #110
@Graur please check

[2022-09-15 13:18] EugeneDar commented on #110
But this tests passed successfully.
[code]

[2022-09-15 13:24] Graur commented on #110
@EugeneDar Looks like expected behavior for me, since `array` don't have `eq` object

[2022-09-15 13:38] EugeneDar commented on #110
@yegor256 I think `eq` is such a fundamental thing and we should move it from `list` to `array`.

[2022-09-15 14:08] EugeneDar commented on #110
@yegor256 what do you think?

[2022-09-15 15:53] yegor256 commented on #110
@EugeneDar if we do this, we will have to re-implement `eq` in all data primitives and make them understand "types"... I'm not sure it's the right idea. But I'm not against it either.

[2022-09-15 16:58] EugeneDar commented on #110
@yegor256 I think we should listen to more opinions.

[2022-09-16 07:27] Graur opened #111 "EO-hamcrest release 0.2.11"

[2022-09-16 07:27] Graur commented on #111
@rultor release, tag is `0.2.11`

[2022-09-16 07:28] rultor commented on #111
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26847-1249016894)

[2022-09-16 07:37] rultor commented on #111
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/26847-1249016894) (took me 8min)

[2022-09-16 07:42] #111 closed

[2022-09-16 09:08] yegor256 commented on #110
@EugeneDar in the mean time, read this: https://www.yegor256.com/2017/07/11/how-to-redesign-equals.html

[2022-09-16 09:45] EugeneDar commented on #110
@yegor256 I read the article, and I agree that this approach does have benefits. However, if two objects happen to be equal, I want to be sure, not pray that they don't accidentally have the same byte representation. Do you agree with that?

[2022-09-16 18:03] yegor256 commented on #110
@EugeneDar it's a philosophical question. Does apple _equal_ to a pear if they both taste the same?

[2022-09-16 18:20] EugeneDar commented on #110
@yegor256 I assume that most programmers using the `equals` function do not expect to compare their taste. However, I agree that this is more of a philosophical question, for that reason I want to ask a more specific question: "since the language is supposed to be used for static analysis, won't such false positives in the analysis spoil anything?"

[2022-09-18 04:06] yegor256 commented on #110
@EugeneDar during the analysis we will transpile source languages to EO. During this tanspilation we will make implicit type information from Java explicitly present in EO:

[code]

This is EO:

[code]

[2022-09-18 15:53] EugeneDar commented on #110
@yegor256 I agree that this is a solution for strictly typed languages. But what to do with non-strictly typed languages? Suppose we critically care about the result of the `f` function.
[code]
Can we ensure that such a case works correctly?

[2022-09-20 13:22] EugeneDar commented on #110
@yegor256 I agree.

[2022-09-21 10:11] Graur commented on #108
@includealex please, help us here

[2022-09-21 10:11] Graur commented on #107
@includealex please, help us here

[2022-09-21 10:12] Graur commented on #105
@includealex please, help us here

[2022-09-22 10:49] #107 closed

[2022-09-22 10:49] 0pdd commented on #41
@Graur 6 puzzles [#101](https://github.com/objectionary/eo-hamcrest/issues/101), [#102](https://github.com/objectionary/eo-hamcrest/issues/102), [#103](https://github.com/objectionary/eo-hamcrest/issues/103), [#104](https://github.com/objectionary/eo-hamcrest/issues/104), [#105](https://github.com/objectionary/eo-hamcrest/issues/105), [#unknown]() are still not solved; solved: [#106](https://githu

[2022-09-22 13:32] #105 closed

[2022-09-22 13:32] 0pdd commented on #41
@Graur 5 puzzles [#101](https://github.com/objectionary/eo-hamcrest/issues/101), [#102](https://github.com/objectionary/eo-hamcrest/issues/102), [#103](https://github.com/objectionary/eo-hamcrest/issues/103), [#104](https://github.com/objectionary/eo-hamcrest/issues/104), [#unknown]() are still not solved; solved: [#105](https://github.com/objectionary/eo-hamcrest/issues/105), [#106](https://githu

[2022-09-22 15:37] #108 closed

[2022-09-22 15:37] 0pdd commented on #41
@Graur 4 puzzles [#101](https://github.com/objectionary/eo-hamcrest/issues/101), [#102](https://github.com/objectionary/eo-hamcrest/issues/102), [#103](https://github.com/objectionary/eo-hamcrest/issues/103), [#104](https://github.com/objectionary/eo-hamcrest/issues/104) are still not solved; solved: [#105](https://github.com/objectionary/eo-hamcrest/issues/105), [#106](https://github.com/objectio

[2022-09-22 17:03] renovate[bot] opened #117 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency com.jcabi:parent to v0.62.0
 - [ ] Update dependency org.apache.maven.plugins:maven-compiler

[2022-09-23 13:49] #102 closed

[2022-09-23 13:49] 0pdd commented on #41
@Graur 3 puzzles [#101](https://github.com/objectionary/eo-hamcrest/issues/101), [#103](https://github.com/objectionary/eo-hamcrest/issues/103), [#104](https://github.com/objectionary/eo-hamcrest/issues/104) are still not solved; solved: [#102](https://github.com/objectionary/eo-hamcrest/issues/102), [#105](https://github.com/objectionary/eo-hamcrest/issues/105), [#106](https://github.com/objectio

[2022-09-23 14:03] #103 closed

[2022-09-23 14:03] 0pdd commented on #103
The puzzle `41-fa7f45be` has disappeared from the source code, that's why I closed this issue. //cc @graur

[2022-09-23 14:03] 0pdd commented on #41
@Graur 2 puzzles [#101](https://github.com/objectionary/eo-hamcrest/issues/101), [#104](https://github.com/objectionary/eo-hamcrest/issues/104) are still not solved; solved: [#102](https://github.com/objectionary/eo-hamcrest/issues/102), [#103](https://github.com/objectionary/eo-hamcrest/issues/103), [#105](https://github.com/objectionary/eo-hamcrest/issues/105), [#106](https://github.com/objectio

[2022-09-23 14:20] 0pdd commented on #41
@Graur the puzzle [#101](https://github.com/objectionary/eo-hamcrest/issues/101) is still not solved; solved: [#102](https://github.com/objectionary/eo-hamcrest/issues/102), [#103](https://github.com/objectionary/eo-hamcrest/issues/103), [#104](https://github.com/objectionary/eo-hamcrest/issues/104), [#105](https://github.com/objectionary/eo-hamcrest/issues/105), [#106](https://github.com/objectio

[2022-09-23 15:50] #101 closed

[2022-09-23 15:50] 0pdd commented on #101
The puzzle `41-cc70864f` has disappeared from the source code, that's why I closed this issue. //cc @graur

[2022-09-23 15:50] 0pdd commented on #41
@Graur all 8 puzzles are solved here: [#101](https://github.com/objectionary/eo-hamcrest/issues/101), [#102](https://github.com/objectionary/eo-hamcrest/issues/102), [#103](https://github.com/objectionary/eo-hamcrest/issues/103), [#104](https://github.com/objectionary/eo-hamcrest/issues/104), [#105](https://github.com/objectionary/eo-hamcrest/issues/105), [#106](https://github.com/objectionary/eo-

[2022-09-24 15:12] levBagryansky opened #128 "less-than dataizes twice"
@Graur please take a look at this case
[code]
This code works this way
[code]
I don't guess it must work this way.

[2022-09-26 08:49] Graur commented on #128
@levBagryansky Indeed, this is a bug

[2022-09-26 08:50] Graur commented on #128
@includealex take care of this, please

[2022-09-26 16:36] includealex commented on #128
@Graur sure.

[2022-10-01 13:46] includealex commented on #128
@Graur @levBagryansky  I think that problem is not in `less_than` but in `lt` or `seq`. This program
[code]
gives such an output:
[code]
If we make a simple modification of this program (just change lt. with gt.), program will look like:
[code]
In this case an output will be:
[code]

[2022-10-03 07:18] Graur commented on #128
@includealex @levBagryansky  Thanks!
So, who can create a new issue in EO repository?

[2022-10-03 07:29] levBagryansky commented on #128
@yegor256 can you transfer the issue  to eo?

[2022-10-11 10:38] Graur opened #133 "Hamcrest 0.2.12"
We need to up version to avoid several dataization in `assert-that` object

[2022-10-11 10:38] Graur commented on #133
@rultor release, tag is `0.2.12`

[2022-10-11 10:39] rultor commented on #133
@graur OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27458-1274483620)

[2022-10-11 10:47] rultor commented on #133
@graur Done! FYI, the full log is [here](https://www.rultor.com/t/27458-1274483620) (took me 7min)

[2022-10-13 12:19] Graur opened #134 "new matcher contains-string"
We need to add a new matcher like in [Hamcrest](http://hamcrest.org/JavaHamcrest/javadoc/1.3/org/hamcrest/Matchers.html#containsString(java.lang.String))

[2022-10-13 12:44] Graur opened #136 "to create new several failed output checks for contains-string matcher"
According to creating new matcher #134 we need to add some new checks

[2022-10-13 12:51] #134 closed

[2022-10-13 13:28] #136 closed

[2022-10-13 13:29] Graur commented on #134
@Graur done

[2022-10-13 13:30] Graur commented on #136
@Graur done

[2022-10-17 08:16] #133 closed

[2022-10-17 08:19] Graur opened #139 "to create a standalone matchers for each existing object in `assert-that` object"
We need to move off every objects from `assert-that` object to improve readability and for easy maintenance of this code

[2022-10-17 10:14] 0pdd commented on #3
@Graur the only puzzle [#unknown]() is solved here.

[2022-10-17 10:50] Graur opened #149 "to implement `string-ends-with` matcher"
According to this: https://hamcrest.org/JavaHamcrest/javadoc/2.1/org/hamcrest/core/StringEndsWith.html

[2022-10-17 10:54] Graur opened #150 "to implement `matches-regex` matcher"
According to `StringRegularExpression.matchesRegex()`: https://hamcrest.org/JavaHamcrest/javadoc/2.1/org/hamcrest/core/StringRegularExpression.html#matchesRegex-java.lang.String-

[2022-10-17 10:55] Graur opened #151 "to implement `string-starts-with` mathcer"
According to this `StringStartsWith`: https://hamcrest.org/JavaHamcrest/javadoc/2.1/org/hamcrest/core/StringStartsWith.html

[2022-10-17 10:56] Graur opened #152 "to implement `substring` matcher"
According to `SubstringMatcher`:  https://hamcrest.org/JavaHamcrest/javadoc/2.1/org/hamcrest/core/SubstringMatcher.html

[2022-10-17 10:57] Graur opened #153 "to implement `org.hamcrest.text` matchers package"
Accodring to this matchers list: https://hamcrest.org/JavaHamcrest/javadoc/2.1/org/hamcrest/text/package-frame.html

[2022-10-17 11:26] #139 closed

[2022-10-17 11:27] Graur commented on #139
@Graur done

[2022-10-24 10:07] #149 closed

[2022-10-24 10:07] 0pdd opened #155 "any-of-failed-output.eo:52-55: To remove this nop object..."
The puzzle `149-c1e9ae63` from #149 has to be resolved:

https://github.com/objectionary/eo-hamcrest/blob/7221e763f3bf21d57d8810c105e5d7cebb7d5038/src/test/eo/org/eolang/hamcrest/failed-output/any-of-failed-output.eo#L52-L55

The puzzle was created by @Graur on 24-Oct-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wil

[2022-10-24 10:07] 0pdd commented on #155
@graur please pay attention to this new issue.

[2022-10-24 10:08] 0pdd commented on #149
@Graur the puzzle [#155](https://github.com/objectionary/eo-hamcrest/issues/155) is still not solved.

[2022-10-24 10:38] #151 closed

[2022-10-25 13:35] Graur commented on #150
@includealex please, help to implement it

[2022-11-03 14:25] #150 closed

[2022-11-07 09:18] Graur opened #159 "renovate ignore dependency"
renovatebot should avoid  `maven-compiler-plugin` dependency to update

[2022-11-07 09:36] #159 closed

[2022-11-07 10:41] #152 closed

[2022-11-10 13:06] Graur opened #162 "to increase stack size"
We need to increase stack size up to 256 Mb

[2022-11-10 18:53] #162 closed

[2022-11-23 02:47] yegor256 commented on #88
@Graur maybe you can try?

[2022-11-23 02:48] yegor256 opened #167 "assert-twice-that"
Let's add a new object `assert-repeatedly-that`, which works similar to `assert-that` but makes a number of attempts to compare two objects. I would say, a random number of attempts between two and, say, five.

[2022-11-23 07:57] Graur commented on #88
@yegor256 Yes, I started [a new pull request](https://github.com/hamcrest/hamcrest.github.com/pull/18) a couple month ago. Still no answer

[2022-11-23 08:01] Graur commented on #167
@yegor256 Will this object try to dataize this object multiple times?

[2022-11-23 17:17] yegor256 commented on #167
@Graur yes, it will dataize the object multiple times, each time making the comparison.

[2022-11-24 03:11] yegor256 commented on #167
@Graur let's call it `assert-twice-that` -- just do it twice, it will be enough

[2022-11-24 08:36] Graur commented on #167
@yegor256 This test should pass, am I right?
[code]

[2022-11-24 08:43] yegor256 commented on #167
@Graur yes, correct

[2022-11-24 14:46] #167 closed

[2022-11-24 14:47] 0pdd opened #170 "all-of-failed-output.eo:30-33: To add more tests with a..."
The puzzle `167-a39797fd` from #167 has to be resolved:

https://github.com/objectionary/eo-hamcrest/blob/97e3ced2bb37763d5ca0712b5273bc9ade13a3fc/src/test/eo/org/eolang/hamcrest/failed-output/all-of-failed-output.eo#L30-L33

The puzzle was created by @Graur on 24-Nov-22.

Estimate: 45 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wil

[2022-11-24 14:47] 0pdd opened #171 "all-of-tests.eo:30-33: To add more tests with a new..."
The puzzle `167-efe2b8f6` from #167 has to be resolved:

https://github.com/objectionary/eo-hamcrest/blob/97e3ced2bb37763d5ca0712b5273bc9ade13a3fc/src/test/eo/org/eolang/hamcrest/all-of-tests.eo#L30-L33

The puzzle was created by graur on 24-Nov-22.

Estimate: 45 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2022-11-24 14:47] 0pdd commented on #171
@graur please pay attention to this new issue.

[2022-11-24 14:47] 0pdd commented on #167
@yegor256 3 puzzles [#169](https://github.com/objectionary/eo-hamcrest/issues/169), [#170](https://github.com/objectionary/eo-hamcrest/issues/170), [#171](https://github.com/objectionary/eo-hamcrest/issues/171) are still not solved.

[2022-11-24 22:52] levBagryansky opened #172 "switch with is-close"
@Graur please take a look at these tests:
[code]
[code]
The second test passes succesfully but the first fails with `stackoverflow` error. Seems like a bug.
I have also tested it in eo-hamcrest and the first test freezes and does not finish

[2022-11-25 07:48] Graur commented on #172
@levBagryansky Indeed, thanks for noticing

[2022-11-25 08:09] Graur commented on #172
@levBagryansky Looks like this test passes in #173. Maybe you have another example?

[2022-11-25 20:51] levBagryansky commented on #172
@Graur It is passes but takes too long time.
I have pulled this repository, performed `rm -r .eo/` , added the tests above and enter `mvn clean test`. All tests but the `check-switch-close-1` has taken no more than 2 seconds. This test passed more than for 20s. Perhaps this effect was not seen by others. So I added a a little complicated tests
[code]

[code]
`check-switch-close-4` still passes qui

[2022-11-25 21:22] levBagryansky commented on #172
@Graur I did the same with more complicated test. You can see approximately same result here:
[switch in switch in switch with close-to](https://github.com/objectionary/eo-hamcrest/pull/176)
[switch in switch in switch with equal-to](https://github.com/objectionary/eo-hamcrest/pull/177)
Difference in timing is colossal